<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>AndGate</key>
		<dict>
			<key>Definition</key>
			<string>Outputs true only if all of its inputs are also true.</string>
			<key>Title</key>
			<string>And Gate</string>
		</dict>
		<key>BooleanLogic</key>
		<dict>
			<key>Title</key>
			<string>Boolean Logic</string>
			<key>Definition</key>
			<string>A mathematical logic that knows just two numbers: true—one—and false—zero. &quot;And&quot;, &quot;Or&quot;, and &quot;Not&quot; are essential for calculating with boolean algebra. It is fundamental to digital electronics.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Puzzles.playgroundchapter/SafetyFirst.playgroundpage</string>
				<key>Title</key>
				<string>Safety First</string>
			</dict>
		</dict>
		<key>Inverter</key>
		<dict>
			<key>Definition</key>
			<string>Outputs true if its input is false and vice versa.</string>
			<key>Title</key>
			<string>Inverter</string>
		</dict>
		<key>OrGate</key>
		<dict>
			<key>Definition</key>
			<string>Outputs true if at least one of its inputs is true.</string>
			<key>Title</key>
			<string>Or Gate</string>
		</dict>
		<key>Component</key>
		<dict>
			<key>Definition</key>
			<string>Here: Anything that can be part of a circuit, e.g. wires, gates, …</string>
			<key>Title</key>
			<string>Component</string>
		</dict>
		<key>PropagationDelay</key>
		<dict>
			<key>Definition</key>
			<string>Logic gates like &quot;and&quot;, &quot;or&quot; as well as inverters have a little delay between inputs and outputs. In this simulation, 100 ms need to pass before an output updates, wheras in reality, this delay may vary and be just a few nanoseconds.</string>
			<key>Title</key>
			<string>Propagation Delay</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Puzzles.playgroundchapter/SafetyFirst.playgroundpage</string>
				<key>Title</key>
				<string>Safety First</string>
			</dict>
		</dict>
		<key>FeedbackLoop</key>
		<dict>
			<key>Definition</key>
			<string>Connecting the output of something to its input, making its next output also depend on the previous output.</string>
			<key>Title</key>
			<string>Feedback Loop</string>
		</dict>
	</dict>
</dict>
</plist>
