<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>3.0</string>
	<key>DevelopmentRegion</key>
	<string>de</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Gate To Logic</string>
	<key>SwiftVersion</key>
	<string>4.0</string>
	<key>ContentIdentifier</key>
	<string>SteffenRyll.GateToLogic</string>
	<key>DeploymentTarget</key>
	<string>ios11.0</string>
	<key>Chapters</key>
	<array>
		<string>GateToLogic.playgroundchapter</string>
	</array>
</dict>
</plist>
